@media only screen and (max-width: 450px) {
    .ourHistory {
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 15px;
    }
}