@media only screen and (max-width: 430px) {

    /* content section begins here */

    .content-Section {
        box-sizing: border-box;
        background-color: azure;
        height: fit-content;
        width: 100%;
        display: inline-block;
    }

    .first-Content {
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 30px;
        width: 100%;
        height: fit-content;
        text-align: center;
        box-sizing: border-box;

    }

    
    .first-content p{
         font-family: Century Gothic;
          font-size: 30px;
    }


    .why-socialMedia {
        padding: 0 8px;
    }

    .why-socialMedia h2 {
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
    }

    .why-socialMedia h3 {
        text-align: right;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;

    }

    .why-socialMedia p {
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        margin-left: 10px;
    }

    .our-work h2 {
        text-align: center;
        font-size: 25px;
        font-family: Quicksand, sans-serif;
        
    }

    .our-work p {
        margin-left: 10px;

        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;

    }



    .moreofUs {

        font-weight: bolder;


    }

    .moreofUs p {
        color: black;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
    }

    .moreofUs h2 {
        font-size: 25px;
        font-family: Quicksand, sans-serif;
        text-align: center;
       
    }

    .whyAriho2 {
        padding: 10px 0;
        color: azure;
        background-color: dodgerblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .secondMore p{
        font-size: 15px;
    }
    .lastSection{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 17px;
        padding: 10px;
    }


}

/* Tablet Screens */
@media only screen and (max-width: 1000px) {

    /* content section begins here */

    .content-Section {
        box-sizing: border-box;
        background-color: azure;
        height: fit-content;
        width: 100%;
        display: inline-block;
    }

    .first-Content {
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 30px;
        width: 100%;
        height: fit-content;
        text-align: center;
        box-sizing: border-box;

    }

    
    .first-content p{
         font-family: Century Gothic;
          font-size: 30px;
    }


    .why-socialMedia {
        padding: 0 8px;
    }

    .why-socialMedia h2 {
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
    }

    .why-socialMedia h3 {
        text-align: right;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;

    }

    .why-socialMedia p {
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        margin-left: 10px;
    }

    .our-work h2 {
        text-align: center;
        font-size: 25px;
        font-family: Quicksand, sans-serif;
        
    }

    .our-work p {
        margin-left: 10px;

        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;

    }



    .moreofUs {

        font-weight: bolder;


    }

    .moreofUs p {
        color: black;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
    }

    .moreofUs h2 {
        font-size: 25px;
        font-family: Quicksand, sans-serif;
        text-align: center;
       
    }

    .whyAriho2 {
        padding: 10px 0;
        color: azure;
        background-color: dodgerblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .secondMore p{
        font-size: 15px;
    }
    .lastSection{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 17px;
        padding: 10px;
    }


}



@media only screen and (min-width: 1024px) {

    

    /* content Section Starts here */
    .content-Section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        
        box-sizing: border-box;
        background-color: azure;
        
        height: fit-content;
        width: 100%;
        display: inline-block;
        padding: 50px 0;


    }
    .first-Content{
        font-family: Century Gothic;
        text-align: center;
        font-size: 30px;
    }

    .left-content{
        text-align: center;
         font-family: Century Gothic;
         font-size: 50px;
    }
   

    .why-socialMedia {
        
        padding: 0 8px;
    }

    .why-socialMedia h2 {
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
    }

    .why-socialMedia h3 {
        text-align: right;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;

    }

    .why-socialMedia p {
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        border-radius: 10px;
        margin-left: 10px;

    }
    .work{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .our-work {
        animation: fade-up linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;

        box-sizing: border-box;
        height: max-content;
        width: 80%;
        margin-right: 20px;
        align-self: center;
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        padding: 10px 20px;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .overlay2{
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 1;
        background-color: black;
        border-radius: 10px;

    }

    .our-work h2 {
        z-index: 2;
        font-size: 70px;

        padding: 20px;

        color: black;
        text-align: center;

    }

    .our-work p {
        align-self: center;
        z-index: 2;
        text-align: left;
        color: black;
        margin-left: 10px;
        font-size: 30px;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 50px;
        font-style: normal;


    }


   @keyframes fade-up {
       from{
        opacity: 0;
        scale: 0.5;
       }
       to{
        opacity: 1;
        scale: 1;
       }
   }

    .moreofUs {
        
        animation: fade-up linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;
        /* background-image: url("../media/two.jpg"); */
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        display: flex;
        justify-content: center;
        position: relative;
        height: 400px;
        width: 900px;
        padding: 60px;
        border-radius: 10px;

    }
    .overlay{
        border-radius: 10px;
        background-color: black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.2;
        z-index: 1;
    }
    .moreSection{
       

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .moreofUs p{
        position: relative;
        z-index: 2;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: 15px; */
        font-style: normal;
       
        font-size: 30px;
        
    }



    .moreofUs h2 {
        position: relative;
        z-index: 2;
        border-top-right-radius: 10px;
        font-size: 60px;
        width: fit-content;
        padding: 0 10px;
        text-align: center;
        
    }

   
    .whyAriho2 {

        animation: fade-up linear;
        animation-timeline: view();
        animation-range: entry 0 cover 30%;

        padding-right: 30px;
    
        width: 400px;
        
        color: black;
      
        text-align: right;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        

    }

    .whyAriho2 h2 {
        font-size: 70px;
    }


    .whyAriho2 p {
        font-size: 25px;
    }

   .lastSection {padding: 0 10rem;
         box-sizing: border-box;
        }
   .lastSection p {
        font-size: 25px;
        font-family: Quicksand, sans-serif;
    }
   


}