
@media only screen and (max-width: 450px){
    

/* content section begins here */

.content-Section{
    box-sizing: border-box;
    background-color: azure;
    height: fit-content;
    width: 100%;
    display: inline-block;

    
    

}
.first-Content{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 100%;
    height: fit-content;
    text-align: center;
}
.seth-pic{
    height: 515px;
    width: 100%;
    align-items: flex-end;
}
img{
    background-position: top;
    height: 430px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
    /* filter: drop-shadow(12px 12px 16px rgb(23, 52, 89)); */
}

.why-socialMedia{
    padding: 0 8px;
}
.why-socialMedia h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
}
.why-socialMedia h3{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.why-socialMedia p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
.our-work h2{
    border-top-right-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: dodgerblue;
}
.our-work p{
    margin-left: 10px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.webTraffic{
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    color: rgb(50, 46, 66);
    font-size: large;
}
.moreofUs{
      
      font-weight: bolder;
    

} 
.moreofUs p{
    color:black;
    /* filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -1px 0 black)
    drop-shadow(1px -1px 0 black); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
   


}  
.moreofUs h2{
    border-top-right-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: dodgerblue;
}
.whyAriho{
    padding: 10px 0;
    color: azure;
    background-color: dodgerblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
}

@media only screen and (min-width: 1440px){
     
    /* content Section Starts here */ 
    .content-Section{
        box-sizing: border-box;
        background-color: azure;
        height: 80rem;
        width: 100%;
        display: inline-block;
        padding: 50px 10rem;
       
    } 
     .first-Content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 
     .left-content{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        width: 45rem;
        height: fit-content;
    }
     .seth-pic{
        height: 515px;
        width: 390px;
        align-items: flex-end;
    }
    img{
        height: 512px;
        width: 384px;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
        /* filter: drop-shadow(12px 12px 16px rgb(23, 52, 89)); */
    }
    
    
}