@media only screen and (max-width: 450px) {
    .ourHistory {
        color: black;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
        font-size: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    .ourHistory {
        padding-right: 10rem;
        padding-left: 10rem;
        color: black;
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        text-align: center;
        font-size: 30px;
    }
}